<html><body><table>
<tr><td>
<h3>root</h3>
<table border="1">
<tr>
<td style="text-align:center;">
<img src="ways_icons/junction_left.png"><br>left</td>
<td style="text-align:center;">
<img src="ways_icons/junction_cross.png"><br>cross</td>
<td style="text-align:center;">
<img src="ways_icons/junction_right.png"><br>right</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/junction_cross_left.png"><br>cross left</td>
<td style="text-align:center;">
<img src="ways_icons/junction_cross_left_right.png"><br>no cross left right</td>
<td style="text-align:center;">
<img src="ways_icons/junction_cross_right.png"><br>cross right</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/no_leftturn.png"><br>no left</td>
<td style="text-align:center;">
<img src="ways_icons/noway.png"><br>no way</td>
<td style="text-align:center;">
<img src="ways_icons/no_rightturn.png"><br>no right</td>
<td style="text-align:center;">
<img src="ways_icons/split.png"><br>split</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/two_way_single.png"><br>single way</td>
<td style="text-align:center;">
<img src="ways_icons/two_way.png"><br>two way</td>
<td style="text-align:center;">
<img src="ways_icons/one_way.png"><br>one way</td>
<td style="text-align:center;">
<img src="ways_icons/zebra_crossing.png"><br>zebra</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/way.png"><br>Ways</td>
<td style="text-align:center;">
<img src="ways_icons/misc.png"><br>Misc</td>
<td style="text-align:center;">
<img src="ways_icons/restriction.png"><br>Restrictions</td>
<td style="text-align:center;">
<img src="ways_icons/100.png"><br>Speed limits</td>
</tr>
</table>
<br>
</td></tr>
<tr><td>
<h3>misc</h3>
<table border="1">
<tr>
<td style="text-align:center;">
<img src="logo_voice"><br>
</td>
<td style="text-align:center;">
<img src="logo_camera"><br>
</td>
<td style="text-align:center;">
<img src="logo_textnote"><br>
</td>
<td style="text-align:center;">
<img src="ways_icons/delete.png"><br>XXXXXXXX</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/bus_stop.png"><br>Bus stop LEFT</td>
<td style="text-align:center;">
<img src="ways_icons/bus_stop.png"><br>Bus stop RIGHT</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/post_office.png"><br>Post office</td>
<td style="text-align:center;">
<img src="ways_icons/post_box.png"><br>Post box</td>
<td style="text-align:center;">
<img src="ways_icons/atm.png"><br>ATM</td>
<td style="text-align:center;">
<img src="ways_icons/bank.png"><br>Bank</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/playground.png"><br>Playground</td>
<td style="text-align:center;">
<img src="ways_icons/toilets.png"><br>Toilets</td>
<td style="text-align:center;">
<img src="ways_icons/bench.png"><br>Bench</td>
<td style="text-align:center;">
<img src="ways_icons/drinking_water.png"><br>Water</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/fuel_station.png"><br>Fuel station</td>
<td style="text-align:center;">
<img src="ways_icons/car_parking.png"><br>Parking</td>
<td style="text-align:center;">
<img src="ways_icons/taxi.png"><br>Taxi</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/school.png"><br>School</td>
<td style="text-align:center;">
<img src="ways_icons/police.png"><br>Police</td>
<td style="text-align:center;">
<img src="ways_icons/restaurant.png"><br>Restaurant</td>
<td style="text-align:center;">
<img src="ways_icons/fastfood.png"><br>Fast food</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/trash.png"><br>Waste basket</td>
<td style="text-align:center;">
<img src="ways_icons/recycling.png"><br>Recycling</td>
<td style="text-align:center;">
<img src="ways_icons/bottle.png"><br>Bottle Rec.</td>
<td style="text-align:center;">
<img src="ways_icons/paper.png"><br>Paper Rec.</td>
</tr>
</table>
<br>
</td></tr>
<tr><td>
<h3>restriction</h3>
<table border="1"><tr>
<td style="text-align:center;">
<img src="ways_icons/no_exit.png"><br>No exit</td>
<td style="text-align:center;">
<img src="ways_icons/traffic_light.png"><br>traffic light</td>
<td style="text-align:center;">
<img src="ways_icons/stop.png"><br>Stop</td>
<td style="text-align:center;">
<img src="ways_icons/bollard.png"><br>Bollard</td>
</tr></table>
<br>
</td></tr>
<tr><td>
<h3>speed_limits</h3>
<table border="1">
<tr>
<td style="text-align:center;">
<img src="ways_icons/5.png"><br>Max 5</td>
<td style="text-align:center;">
<img src="ways_icons/10.png"><br>Max 10</td>
<td style="text-align:center;">
<img src="ways_icons/15.png"><br>Max 15</td>
<td style="text-align:center;">
<img src="ways_icons/20.png"><br>Max 20</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/25.png"><br>Max 25</td>
<td style="text-align:center;">
<img src="ways_icons/30.png"><br>Max 30</td>
<td style="text-align:center;">
<img src="ways_icons/40.png"><br>Max 40</td>
<td style="text-align:center;">
<img src="ways_icons/50.png"><br>Max 50</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/60.png"><br>Max 60</td>
<td style="text-align:center;">
<img src="ways_icons/70.png"><br>Max 70</td>
<td style="text-align:center;">
<img src="ways_icons/80.png"><br>Max 80</td>
<td style="text-align:center;">
<img src="ways_icons/90.png"><br>Max 90</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/100.png"><br>Max 100</td>
<td style="text-align:center;">
<img src="ways_icons/110.png"><br>Max 110</td>
<td style="text-align:center;">
<img src="ways_icons/120.png"><br>Max 120</td>
<td style="text-align:center;">
<img src="ways_icons/130.png"><br>Max 130</td>
</tr>
</table>
<br>
</td></tr>
<tr><td>
<h3>ways</h3>
<table border="1">
<tr>
<td style="text-align:center;">
<img src="ways_icons/way_bridge.png"><br>Bridge</td>
<td style="text-align:center;">
<img src="ways_icons/way_service.png"><br>Service</td>
<td style="text-align:center;">
<img src="ways_icons/living_street.png"><br>Living street</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/way_secondary.png"><br>Secondary</td>
<td style="text-align:center;">
<img src="ways_icons/way_residential.png"><br>Residential</td>
<td style="text-align:center;">
<img src="ways_icons/way_pedestrian.png"><br>Pedestrian</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/way_track.png"><br>Track</td>
<td style="text-align:center;">
<img src="ways_icons/way_track.png"><br>Path</td>
<td style="text-align:center;">
<img src="ways_icons/way_track.png"><br>Ford</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/way_steps.png"><br>Steps</td>
<td style="text-align:center;">
<img src="ways_icons/way_footway.png"><br>Footway</td>
<td style="text-align:center;">
<img src="ways_icons/way_cycleway.png"><br>Cycleway</td>
</tr>
<tr>
<td style="text-align:center;">
<img src="ways_icons/way_trunk.png"><br>Trunk</td>
<td style="text-align:center;">
<img src="ways_icons/way_primary.png"><br>Primary</td>
<td style="text-align:center;">
<img src="ways_icons/way_tertiary.png"><br>Tertiary</td>
</tr>
</table>
<br>
</td></tr>
</table></body></html>
